@import "tailwindcss";

html, body, #root {
    height: 100%;
}

.input-style {
    @apply bg-white rounded-md p-[8px] text-black w-full;
}

.btn-primary {
    @apply bg-white p-[8px] rounded-md text-black w-full mt-2;
}

/* Errore di validazione */
.val-error {
    @apply bg-white p-[6px] rounded-md text-red-600 font-semibold mt-[8px];
}